*{
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}
body{
    height: 100%;
}
html{
    height: 100%;
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* CARD ONE */
.container-results{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border: 2px solid blue; */
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 513px;
    width: 367px;
    padding: 10px;
    border-radius: 2rem;

}
.heading-one{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
}
.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    /* border-radius: 10rem; */
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 50%;
}
.result{
    font-size: 80px;
    font-weight: 700;
}
.result-of{
    margin-top: -15px;
    font-size: 18px;
}
.heading-two{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
}
.results-summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* END OF CARD ONE */

/* CARD TWO */
.container-summary{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border: 2px solid yellow; */
    background-color: white;
    -webkit-box-shadow: 10px 13px 42px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 42px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 42px 0px rgba(0,0,0,0.75);
    height: 513px;
    width: 415px;
    /* padding: 10px; */
    margin-left: -50px;
    z-index: -1;
    padding-left: 6%;
    border-radius: 2rem;

}
.heading-one-summary{
    padding-top: 16px;
    padding-bottom: 8px;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
}
.reaction-card{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    background-color: aquamarine;
    border-radius: .75rem;
    margin-right: 35px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding: 16px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.reaction-card-title{
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 18px;
}
.card-result{
    display: flex;
    justify-content: end;
    font-size: 18px;
    gap: 8px;
}
.score{
    font-size: 18px;
}
.memory-card{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding: 16px;
    background-color: aquamarine;
    border-radius: .75rem;
    margin-right: 35px;
    /* margin-top: 10px; */
    margin-bottom: 17px;
}
.memory-card-title{
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 18px;
}
.card-result{
    display: flex;
    justify-content: end;
    font-size: 19px;
    gap: 8px;
}
.score{
    font-size: 18px;
}
.verbal-card{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding: 16px;
    background-color: aquamarine;
    border-radius: .75rem;
    margin-right: 35px;
    /* margin-top: 10px; */
    margin-bottom: 17px;
}
.verbal-card-title{
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 18px;
}
.card-result{
    display: flex;
    justify-content: end;
    font-size: 18px;
    gap: 8px;
}
.score{
    font-size: 18px;
}
.visual-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding: 16px;
    background-color: aquamarine;
    border-radius: .75rem;
    margin-right: 35px;
    /* margin-top: 10px; */
    margin-bottom: 15px;
}
.visual-card-title{
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 18px;
}
.score{
    font-size: 18px;
}
.card-result{
    display: flex;
    justify-content: end;
    font-size: 18px;
    gap: 8px;
}
.button{
    margin-top: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 35px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 2em;
    font-size: 18px;
}
/* END OF CARD TWO */