/* COLORS */
/* - Violet: hsl(257, 40%, 49%) */
/* - Soft Magenta: hsl(300, 69%, 71%) */
*{
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    min-height: 100vh;
    margin: 50px;

}
/* HEADER */
.header{
    margin-bottom: 50px;
}

/* CONTENT-CONTAINER */
.content{
    display: flex;
    margin: auto;
    margin-top: 16vh;
    gap: 50px;
    width: 1265px;
}

/* INTRO */
.intro-container{
    display: flex;
    flex-direction: column;
    gap: 6%;
    justify-content: start;
    padding-top: 4%;
}
.intro-header{
    font-family: 'Poppins' , sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: white;
}
.intro-text{
    font-family: 'Poppins' , sans-serif ;
    color: white;

}
.intro-button{
    font-family: 'Poppins' , sans-serif ;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-radius: 2rem;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 165px;
    text-align: center;
}

/* FOOTER */
.footer{

}
